<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill_category.description %>
</p>

<%= link_to 'Edit', edit_skill_category_path(@skill_category) %> |
<%= link_to 'Back', skill_categories_path %>
